* {
  padding: 0;
  font-family: gilory;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100vh;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: rgb(156, 126, 126);
}

.back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top {
  pointer-events: none;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.workingarea {
  position: relative;
  margin: 5px auto;
  width: 100%;
  height: 100vh;
  max-width: 80%;
  /* border: 1px solid red; */
}

.nav {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav img {
  height: 60px;
}

.nleft,
.nright {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav a {
  pointer-events: all;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  color: white;
  font-family: "gilroy";
}

.hero {
  position: absolute;
  top: 20%;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.hleft {
  min-width: 40%;
}

.elem {
  height: 6.2vw;
  overflow: hidden;
}

.elem h1 {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 6vw;
  font-weight: 1200;
  text-transform: uppercase;
  letter-spacing: -7px;
  margin-left: -15px;
}

.hleft button {
  pointer-events: all;
  padding: 0.8vw 2vw;
  font-size: 1.5vw;
  font-weight: 600;
  margin-top: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

.hright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
  height: 60vh;
  color: white;
}

.hright p {
  font-size: 12px;
  text-align: right;
  font-weight: 700;
  margin-bottom: 1vh;
}

.hright .imagediv {
  width: 100%;
  height: 22vh;
  margin-bottom: 50px;
  background-image: url(img/Model.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
